#wrapper {
  width: 100%;
  margin-top: 80px;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr) ;);
}
