#wrapper {
  width: 100%;
  margin-top: 60px;
  padding: 40px;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-template-rows: repeat(3, 280px);
  grid-gap: 20px;
  grid-auto-rows: 280px;

  & .search {
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translate(-65%, 0px);
    z-index: 3;

    & form {
      width: 420px;
    }

    & input {
      font-size: 1.6rem;
      padding: 0.7rem 3rem;
      border-radius: 10px;
      outline: none;
      width: 100%;
    }

    & button {
      margin-right: -20px;
      z-index: 2;
      color: black;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(41%, -50%);
      background: transparent;
      border: none;
      outline: none;
      font-size: 1.7rem;
      opacity: 0.8;
    }
  }
}

@media only screen and (max-width: 980px) {
  #wrapper {
    grid-gap: 20px;
    padding: 40px 25px;

    & .search {
      & form {
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #wrapper {
    & .search {
      position: fixed;
      top: 7px;
      left: 62%;
      transform: translate(-50%, 0px);
      z-index: 3;

      & form {
        width: 320px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  #wrapper {
    & .search {
      position: fixed;
      top: 7px;
      left: 62%;
      transform: translate(-50%, 0px);
      z-index: 3;

      & form {
        width: 280px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  #wrapper {
    & .search {
      position: fixed;
      top: 53px;
      left: 50%;
      transform: translate(-50%, 0px);
      z-index: 3;

      & form {
        width: 300px;
      }
    }
  }
}
